.footer {
  height: 50px;
  background-color: $dark-green;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: normal;
  position: fixed;
  bottom: -50px;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: $breakpoint-mobile) {
  .footer {
    font-size: smaller;
  }
}
