.footer {
  height: 50px;
  background-color: $medium-green;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: normal;
  position: fixed;
  bottom: -50px;
  width: 100%;
}