.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px 20px 10px;
  border-bottom: 1px black solid;
  box-shadow: 0 1px 5px $light-green;
  margin-bottom: 50px;

  &-emblem {
    height: 40px;
  }

  h1 {
    margin: 0;
    font-variant: small-caps;
    font-size: x-large;
  }

  &-button {
    padding: 10px 20px 10px 20px;
    min-width: 150px;
    background-color: $light-green;
    border: 2px solid $dark-green;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    right: 20px;

    &:hover {
      background-color: $dark-green;
      filter: drop-shadow(0 0 6px darkgray);
    }
  }
}