.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px 20px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  background-color: $medium-green;
  border-radius: 5px 5px 0 0;

  &-nav {
    display: flex;
    text-decoration: none;
  }

  &-emblem {
    height: 40px;
    border-radius: 50%;
  }

  h1 {
    margin: 0 0 0 10px;
    font-variant: small-caps;
    font-size: xx-large;
    color: white;
  }

  &-button {
    padding: 10px 20px 10px 20px;
    min-width: 300px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 20px;

    &_active {
      display: none;
    }

    &:hover {
      background-color: $dark-green;
      filter: drop-shadow(0 0 6px darkgray);
    }
  }
}