//Fonts
$font-primary: 'Roboto', sans-serif;

//Responsive design breakpoints
$breakpoint-desktop: 1024px;
$breakpoint-mobile: 415px;

//Corporate colours
$light-green: #9eb546;
$medium-green: #6d8512;
$dark-green: #3e5800;
$error: rgb(211, 48, 47);

