.body-container {
  max-width: 1400px;
  //max-width: $breakpoint-desktop;
  //width: 100%;
  min-height: 700px;
  margin: 0 auto 0 auto;
  background-color: white;
  filter: drop-shadow(0 0 6px darkgray);
}